In [1]:
import pandas as pd
from google.colab import files

uploaded=files.upload()

Saving adult.data.txt to adult.data.txt

1.How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.

In [16]:
import io

df=pd.read_csv(io.BytesIO(uploaded['adult.data.txt']))
race_counts=df['race'].value_counts()
race_counts

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

2.What is the average age of men?

In [125]:

average_age_men=round(df['age'][df['sex']=='Male'].mean(),2)
average_age_men

39.43

3.What is the percentage of people who have a Bachelor's degree?

In [29]:
percentage_bachelors=(df['education'][df['education']=='Bachelors'].count() /df['education'].count())*100
percentage_bachelors

16.44605509658794

4.What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?

In [138]:
higher_education=df[df['education'].isin(['Bachelors','Masters','Doctorate'])]
lower_education=df[~df['education'].isin(['Bachelors','Masters','Doctorate'])]
# higher_education=df['education'][(df['education'] =='Bachelors')|(df['education'] =='Masters')|(df['education'] =='Doctorate')]
# lower_education=df['education'][(df['education'] !='Bachelors')|(df['education'] !='Masters')|(df['education'] !='Doctorate')]
len(higher_education[higher_education['salary']=='>50K'])

3486

5.What percentage of people without advanced education make more than 50K?

In [141]:
higher_education_rich=round((len(higher_education[higher_education['salary']=='>50K']) / len(higher_education)) * 100,1)
lower_education_rich=round((len(lower_education[lower_education['salary']=='>50K']) / len(lower_education)) * 100,1) 
higher_education_rich
lower_education_rich

17.4

6.What is the minimum number of hours a person works per week (hours-per-week feature)?

In [151]:
min_work_hours = df['hours-per-week'].min()
num_min_workers=df[df['hours-per-week']==min_work_hours]

rich_percentage=(len(num_min_workers[num_min_workers['salary']=='>50K'])/len(num_min_workers))*100

rich_percentage

10.0

7.What country has the highest percentage of people that earn >50K?

In [165]:
country_count=df['native-country'].value_counts()
country_count_rich=df['native-country'][df['salary']=='>50K'].value_counts()

highest_earning_country= (country_count_rich / country_count *100).idxmax()   #idxmax gives the max value in the dataframe
highest_earning_country_percentage=round((country_count_rich / country_count *100).max(),1)
highest_earning_country_percentage
highest_earning_country

'Iran'

8.Identify the most popular occupation for those who earn >50K in India.

In [175]:
IN_with_high_sal=df['occupation'][df['native-country']=='India'][df['salary']=='>50K']
# top_IN_occupation=df['occupation'][df['salary']=='>50K']
# top_IN_occupation
IN_with_high_sal.value_counts().idxmax()

'Prof-specialty'

In [78]:
import pandas as pd


def calculate_demographic_data(print_data=True):
    # Read data from file
    df =pd.read_csv('adult.data.csv')

    # How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
    race_count = df['race'].value_counts()

    # What is the average age of men?
    average_age_men = df['age'].sum() / df['age'].count()

    # What is the percentage of people who have a Bachelor's degree?
    percentage_bachelors = (df['education'][df['education']=='Bachelors'].count() /df['education'].count())*100

    # What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
    # What percentage of people without advanced education make more than 50K?

    # with and without `Bachelors`, `Masters`, or `Doctorate`
    higher_education = df['education'][(df['education'] =='Bachelors')|(df['education'] =='Masters')|(df['education'] =='Doctorate')]
    lower_education = df['education'][(df['education'] !='Bachelors')|(df['education'] !='Masters')|(df['education'] !='Doctorate')]


    # percentage with salary >50K
    higher_education_rich = (higher_education[df['salary']=='>50K'].count() / df['education'].count()) * 100
    lower_education_rich = (lower_education[df['salary']=='>50K'].count() / df['education'].count()) * 100

    # What is the minimum number of hours a person works per week (hours-per-week feature)?
    min_work_hours = df['hours-per-week'].min()

    # What percentage of the people who work the minimum number of hours per week have a salary of >50K?
    num_min_workers = ((df['workclass'][df['hours-per-week']==df['hours-per-week'].min()][df['salary']=='>50K'].count())/df['workclass'].count())*100

    rich_percentage = (num_min_workers/df['workclass'].count())*100

    # What country has the highest percentage of people that earn >50K?
    highest_earning_country = df['native-country'][df['salary']=='>50K']
    highest_earning_country_percentage = (highest_earning_country.count()/df['native-country'].count())*100

    # Identify the most popular occupation for those who earn >50K in India.
    top_IN_occupation = df['occupation'][df['salary']=='>50K'].head(1)

    # DO NOT MODIFY BELOW THIS LINE

    if print_data:
        print("Number of each race:\n", race_count) 
        print("Average age of men:", average_age_men)
        print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")
        print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")
        print(f"Percentage without higher education that earn >50K: {lower_education_rich}%")
        print(f"Min work time: {min_work_hours} hours/week")
        print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")
        print("Country with highest percentage of rich:", highest_earning_country)
        print(f"Highest percentage of rich people in country: {highest_earning_country_percentage}%")
        print("Top occupations in India:", top_IN_occupation)

    return {
        'race_count': race_count,
        'average_age_men': average_age_men,
        'percentage_bachelors': percentage_bachelors,
        'higher_education_rich': higher_education_rich,
        'lower_education_rich': lower_education_rich,
        'min_work_hours': min_work_hours,
        'rich_percentage': rich_percentage,
        'highest_earning_country': highest_earning_country,
        'highest_earning_country_percentage':
        highest_earning_country_percentage,
        'top_IN_occupation': top_IN_occupation
    }